.cart {
    &__header-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__back {
        margin: 0 55px 18px 0;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;

        svg {
            fill: $color-black-text;
            height: 25px;
            width: auto;
        }

        &:hover,
        &:focus {
            & + .cart__title {
                transform: translateX(-10px);
            }
        }
    }

    &__title {
        transition: transform 250ms ease-out;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;
    }

    &__grid-wrapper {
        flex-grow: 5;
    }

    &__price-total {
        text-align: right;
        font-weight: 600;
        color: $color-gray-text-light;
        font-size: 20px;
        margin-top: 50px;
        letter-spacing: 0.4px;
        flex-grow: 1;
    }

    &__price-total-amount {
        color: $color-black-text;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 23px;
        margin-left: 25px;
    }

    &__confirm {
        text-align: center;
        font-weight: 700;
        background: $color-mint;
        color: $color-white;
        font-size: 23px;
        border-radius: 6px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-shrink: 0;
        margin-top: 50px;
        box-shadow: 0 8px 15px -8px rgba($color-mint, 0.5);
        letter-spacing: 0.5px;
        transition: background 250ms ease-out, box-shadow 250ms ease-out;

        &:hover,
        &:focus {
            background: darken($color-mint-dark, 5%);
            box-shadow: 0 12px 20px -8px rgba($color-mint-dark, 0.5);
        }
    }
}
